<!DOCTYPE html>
<html>
  <head>
    <title>DonationCalculator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="/">Player Donation System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= active_page?(root_path) %>"> <a class="nav-link" href="/">Players</a>
          </li>
          <li class="nav-item <%= active_page?(contributions_path) %>">
            <%= link_to 'Contribution History', contributions_path, class: 'nav-link' %>
          </li>
          <li class='nav-item <%= active_page?(page_donations_path) %>'>
            <%= link_to 'MS Page Donations', page_donations_path, class: 'nav-link' %>
          </li>
          <% if policy(:player).create? %>
            <li class="nav-item">
              <a class="nav-link" href="#" data-target='#newPlayerModal' data-toggle='modal'>New Player</a>
            </li>
          <% end %>
          <% if policy(:user).index? %>
            <li class="nav-item <%= active_page?(users_path) %>">
              <%= link_to 'Users', users_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        <ul class='navbar-nav my-2 my-lg-0'>
          <li class='nav-item mr-sm-2'>
            <%= link_to icon('user', " Edit Account"), edit_user_path(current_user), class: 'nav-link' %>
          </li>
          <li class='nav-item mr-sm-2'>
            <%= link_to 'Logout', destroy_user_session_path, class: 'nav-link', method: :delete %>
          </li>
          <span class='navbar-text'>
            Logged in as: <%= current_user.username %>
          </span>
        </ul>
      </div>
    </nav>
    <div class='container container-main'>
      <%= render partial: 'shared/alerts' %>
      <%= yield %>
    </div>
    <div class="modal fade" id='newPlayerModal'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Player</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= form_for Player.new do |f| %>
            <div class="modal-body">
              <div class='form-group'>
                <%= f.label :in_game_name %>
                <%= f.text_field :in_game_name, class: 'form-control' %>
              </div>
              <div class='form-group'>
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
              <div class='form-group'>
                <%= f.label :job %>
                <% humanized_jobs_mapping = Player::JOBS.collect do |job| %>
                  <% [job.to_s.humanize.titleize, job] %>
                <% end %>
                <%= f.select :job, humanized_jobs_mapping, {include_blank: 'Select Class'}, { class: 'form-control', required: true } %>
              </div>
            </div>
            <div class="modal-footer">
              <%= f.submit :save, class: 'btn btn-primary' %>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
